.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(3, 3, 3);
    padding: 5px;
  }
  
  .navbar__container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }

  .link  {
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .link:hover {
    color: #FF069C;
  }

  .button__cart {
    cursor: pointer;
    color: white;
    transition: 0.3s;
  }

  .button__cart:hover {
    color: #FF069C;
  }